/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --title-color: var(--intense-pink);
  --question-color: var(--real-red);
  --title-text-color: var(--practicaly-black);
  --button-color: var(--real-red);
  --border-color-opacity: var(--dim-red);
  --title-bg-color: var(--real-red);
  --answer-text-color: var(--lavender);
  --deco-color: var(--real-red);
  --fon-stile: var(--practicaly-black)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --title-color: var(--intense-pink);
    --question-color: var(--real-red);
    --title-text-color: var(--practicaly-black);
    --button-color: var(--real-red); 
    --border-color-opacity: var(--dim-red);
    --title-bg-color: var(--real-red);
    --answer-text-color: var(--lavender);
    --fon-stile: var(--practicaly-black);
    --deco-color: var(--real-red);}
    .rec::before {
      display: inline-block;
    }
    
    .rec::after {
      display: inline-block;
    }
}

.theme-dark .page {

}

.theme-dark .rec::before {
display: inline-block;
}

.theme-dark .rec::after {
display: inline-block;
}

