/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --title-color: var(--title-pink);
  --question-color: var(--intense-black);
  --title-text-color: var(--intense-black);
  --button-color: var(--intense-black);
  --border-color-opacity: var(--dim-black);
  --title-bg-color: var(--basic-pink);
  --answer-text-color: var(--intense-black);
  --deco-color: var(--intense-black);
  --fon-stile: var(--intense-black);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
  --title-color: var(--title-pink);
  --question-color: var(--intense-black);
  --title-text-color: var(--intense-black);
  --button-color: var(--intense-black);
  --border-color-opacity: var(--dim-black);
  --title-bg-color: var(--basic-pink);
  --answer-text-color: var(--intense-black);
  --fon-stile: var(--intense-black);
  --deco-color: var(--intense-black);}
  .rec::before {
    display: none;
  }
  
  .rec::after {
    display: none;
  }
}

.theme-light .rec::before {
  display: none;
}


.theme-light .rec::after {
  display: none;
}

