/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --title-color: var(--title-pink);
  --question-color: var(--intense-black);
  --title-text-color: var(--intense-black);
  --button-color: var(--intense-black);
  --border-color-opacity: var(--intense-black);
  --title-bg-color: var(--basic-pink);
  --answer-text-color: var(--intense-black);
  --deco-color: var(--intense-black);
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  
}

.theme-light .rec::before {
  display: none;
}

.theme-light .rec::after {
  display: none;
}