:root {
  --project-font-family: "IBM Plex Mono", "Arial", sans-serif;
  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --title-text-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decoration-gap: clamp(10px , 2.65vw , 20px);
  --button-color: #FF0070;
  --border-color-opacity: #FF0070;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --header-margin-left: min(10px , 20px - 2.6vw);
  --title-bg-color: #FF0070;
  --min-height: 668px;
  --section-child-margin: 40px;
  --question-color: #FF0070;
  --answer-text-color: #f1b2ce;
  --corner-thickness: 1px;
  --rec-color: #FF0070;
  --rec_x_pos: 30px;
}

